<mat-toolbar>
  <span class="example-spacer"></span>
  <span>Задачи</span>
  <span class="example-spacer"></span>
  <div class="add-task">
    <button
      (click)="openDialog()"
      mat-fab
      color="primary"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      +
    </button>
  </div>
</mat-toolbar>

<app-project></app-project>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="dialogOpen"
>
  <app-dialog-new-todo *ngIf="dialogOpen"></app-dialog-new-todo>
</ng-template>
